<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="https://kristylynn.netlify.com">Kristy</a>. The past 4 years Kristy has worked for Nordstrom as a System Implementation Analyst, Business Owner and Business Analyst. Now branching out into the web development enironment read to build a way.
  </p>
  <br />

  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kristy Helms</h2>
      <br />
      <p>
        Kristy is a student at CU Denver in the business school with a concentration in Information Systems. Kristy has a desire to learn and isn't afraid of the effort or challenges this presents. Always looking for a new skill or process to become a subject matter expert of. 
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>